@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* 기본 CSS */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  position: relative;
  width: 250px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #250e74;
  border: 4px solid #250e74;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.5s;
  overflow: hidden;
}

/* 애니메이션 */

/*
1. border가 두꺼워서 서로 중첩되면 top/bottom부분이 left/right를 오버라이딩한다는 것을 이용
2. border가 두꺼워져도 가상 요소와 a 태그의 크기를 같게 하기 위해 absolute stretching으로 요소 크기를 결정한다.
3. border-top과 border-bottom을 주요색으로 하여 절반 높이를 가지게 하고 border-right 절반 높이를 가지게 한 다음 투명색을 주면,
오른쪽이 입구인 깔대기 모양같은 배경색이 되는 border를 만들 수 있다. 반대로 적용하면 왼쪽이 입구인 깔대기 모양 배경색이 만들어지고, 이 두 요소를
가운데에서 합치면 큰 다이아 모양이 가운데로 작아지면서 배경색이 바뀌는 효과를 준다.
4. 3을 before, after로 구현 후 translateX로 요소 바깥에 배치했다가, hover시 요소 안으로 들어와 배경이 되도록 한다.
*/

a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-top: 40px solid #250e74;
  border-bottom: 40px solid #250e74;
  border-right: 40px solid transparent;
  transition: all 0.5s;
  transform: translateX(-100%);
}

a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-top: 40px solid #250e74;
  border-bottom: 40px solid #250e74;
  border-left: 40px solid transparent;
  transition: all 0.5s;
  transform: translateX(100%);
}

a:hover {
  color: white;

  &::before,
  &::after {
    transform: translateX(0);
  }
}
